In [1]:
import pandas as pd

### 1.
Inspect the DataFrames using print and head:

- visits lists all of the users who have visited the website
- cart lists all of the users who have added a t-shirt to their cart
- checkout lists all of the users who have started the checkout
- purchase lists all of the users who have purchased a t-shirt

In [3]:
visits = pd.read_csv('visits.csv')
visits.head()

                                user_id           visit_time
0  943647ef-3682-4750-a2e1-918ba6f16188  2017-04-07 15:14:00
1  0c3a3dd0-fb64-4eac-bf84-ba069ce409f2  2017-01-26 14:24:00
2  6e0b2d60-4027-4d9a-babd-0e7d40859fb1  2017-08-20 08:23:00
3  6879527e-c5a6-4d14-b2da-50b85212b0ab  2017-11-04 18:15:00
4  a84327ff-5daa-4ba1-b789-d5b4caf81e96  2017-02-27 11:25:00

In [5]:
cart = pd.read_csv('cart.csv')
cart.head()

                                user_id            cart_time
0  2be90e7c-9cca-44e0-bcc5-124b945ff168  2017-11-07 20:45:00
1  4397f73f-1da3-4ab3-91af-762792e25973  2017-05-27 01:35:00
2  a9db3d4b-0a0a-4398-a55a-ebb2c7adf663  2017-03-04 10:38:00
3  b594862a-36c5-47d5-b818-6e9512b939b3  2017-09-27 08:22:00
4  a68a16e2-94f0-4ce8-8ce3-784af0bbb974  2017-07-26 15:48:00

In [7]:
checkout = pd.read_csv('checkout.csv')
checkout.head()

                                user_id        checkout_time
0  d33bdc47-4afa-45bc-b4e4-dbe948e34c0d  2017-06-25 09:29:00
1  4ac186f0-9954-4fea-8a27-c081e428e34e  2017-04-07 20:11:00
2  3c9c78a7-124a-4b77-8d2e-e1926e011e7d  2017-07-13 11:38:00
3  89fe330a-8966-4756-8f7c-3bdbcd47279a  2017-04-20 16:15:00
4  3ccdaf69-2d30-40de-b083-51372881aedd  2017-01-08 20:52:00

In [9]:
purchase = pd.read_csv('purchase.csv')
purchase.head()

                                user_id        purchase_time
0  4b44ace4-2721-47a0-b24b-15fbfa2abf85  2017-05-11 04:25:00
1  02e684ae-a448-408f-a9ff-dcb4a5c99aac  2017-09-05 08:45:00
2  4b4bc391-749e-4b90-ab8f-4f6e3c84d6dc  2017-11-20 20:49:00
3  a5dbb25f-3c36-4103-9030-9f7c6241cd8d  2017-01-22 15:18:00
4  46a3186d-7f5a-4ab9-87af-84d05bfd4867  2017-06-11 11:32:00

### 2.
Combine visits and cart using a left merge.

In [12]:
merged_visit_cart = visits.merge(cart, how='left')
merged_visit_cart

,user_id,visit_time,cart_time
0,943647ef-3682-4750-a2e1-918ba6f16188,2017-04-07 15:14:00,NaN
1,0c3a3dd0-fb64-4eac-bf84-ba069ce409f2,2017-01-26 14:24:00,2017-01-26 14:44:00
2,6e0b2d60-4027-4d9a-babd-0e7d40859fb1,2017-08-20 08:23:00,2017-08-20 08:31:00
3,6879527e-c5a6-4d14-b2da-50b85212b0ab,2017-11-04 18:15:00,NaN
4,a84327ff-5daa-4ba1-b789-d5b4caf81e96,2017-02-27 11:25:00,NaN
...,...,...,...
1995,33913ac2-03da-45ae-8fc3-fea39df827c6,2017-03-25 03:29:00,NaN
1996,4f850132-b99d-4623-80e6-6e61d003577e,2017-01-08 09:57:00,NaN
1997,f0830b9b-1f5c-4e74-b63d-3f847cc6ce70,2017-09-07 12:56:00,NaN
1998,b01bffa7-63ba-4cd3-9d93-eb1477c23831,2017-07-20 04:37:00,NaN
1999,0336ca81-8d68-443f-9248-ac0b8ad147d5,2017-11-15 10:11:00,NaN

### 3.
How long is your merged DataFrame?

In [15]:
merged_visit_cart.shape

(2000, 3)

### 4.
How many of the timestamps are null for the column cart_time?

What do these null rows mean?

In [18]:
merged_visit_cart.cart_time.isna().sum()

1652

In [20]:
print(f"{merged_visit_cart.cart_time.isna().sum()} are those who did not proceed to Cart")

1652 are those who did not proceed to Cart

### 5.
What percent of users who visited Cool T-Shirts Inc. ended up not placing a t-shirt in their cart?

Note: To calculate percentages, it will be helpful to turn either the numerator or the denominator into a float, by using float(), with the number to convert passed in as input. Otherwise, Python will use integer division, which truncates decimal points.

In [23]:
(merged_visit_cart.cart_time.isna().sum() / merged_visit_cart.shape[0]) * 100

82.6

### 6.
Repeat the left merge for cart and checkout and count null values. What percentage of users put items in their cart, but did not proceed to checkout?

In [26]:
merged_card_checkout = cart.merge(checkout, how='left')
merged_card_checkout

,user_id,cart_time,checkout_time
0,2be90e7c-9cca-44e0-bcc5-124b945ff168,2017-11-07 20:45:00,2017-11-07 21:14:00
1,2be90e7c-9cca-44e0-bcc5-124b945ff168,2017-11-07 20:45:00,2017-11-07 20:50:00
2,2be90e7c-9cca-44e0-bcc5-124b945ff168,2017-11-07 20:45:00,2017-11-07 21:11:00
3,4397f73f-1da3-4ab3-91af-762792e25973,2017-05-27 01:35:00,NaN
4,a9db3d4b-0a0a-4398-a55a-ebb2c7adf663,2017-03-04 10:38:00,2017-03-04 11:04:00
...,...,...,...
477,59d2b685-383a-4fce-a325-35d985713a8b,2017-01-20 03:58:00,NaN
478,a1203970-92ae-4fc7-843e-e1740c1be9d5,2017-11-12 23:07:00,NaN
479,55de53ae-89f6-43ff-a26d-df284678aca1,2017-03-17 19:56:00,2017-03-17 20:04:00
480,0ea4cc68-dae4-4e35-b3e0-f0889932e1b5,2017-05-12 08:53:00,2017-05-12 08:57:00
481,0ea4cc68-dae4-4e35-b3e0-f0889932e1b5,2017-05-12 08:53:00,2017-05-12 09:20:00

In [28]:
merged_card_checkout.checkout_time.isna().sum()

122

In [30]:
(merged_card_checkout.checkout_time.isna().sum() / merged_card_checkout.shape[0]) * 100

25.311203319502074

### 7.
Merge all four steps of the funnel, in order, using a series of left merges. Save the results to the variable all_data.

Examine the result using print and head

In [33]:
all_data = visits.merge(cart, how='left').merge(checkout, how='left').merge(purchase, how='left')
all_data

,user_id,visit_time,cart_time,checkout_time,purchase_time
0,943647ef-3682-4750-a2e1-918ba6f16188,2017-04-07 15:14:00,NaN,NaN,NaN
1,0c3a3dd0-fb64-4eac-bf84-ba069ce409f2,2017-01-26 14:24:00,2017-01-26 14:44:00,2017-01-26 14:54:00,2017-01-26 15:08:00
2,6e0b2d60-4027-4d9a-babd-0e7d40859fb1,2017-08-20 08:23:00,2017-08-20 08:31:00,NaN,NaN
3,6879527e-c5a6-4d14-b2da-50b85212b0ab,2017-11-04 18:15:00,NaN,NaN,NaN
4,a84327ff-5daa-4ba1-b789-d5b4caf81e96,2017-02-27 11:25:00,NaN,NaN,NaN
...,...,...,...,...,...
2367,33913ac2-03da-45ae-8fc3-fea39df827c6,2017-03-25 03:29:00,NaN,NaN,NaN
2368,4f850132-b99d-4623-80e6-6e61d003577e,2017-01-08 09:57:00,NaN,NaN,NaN
2369,f0830b9b-1f5c-4e74-b63d-3f847cc6ce70,2017-09-07 12:56:00,NaN,NaN,NaN
2370,b01bffa7-63ba-4cd3-9d93-eb1477c23831,2017-07-20 04:37:00,NaN,NaN,NaN
2371,0336ca81-8d68-443f-9248-ac0b8ad147d5,2017-11-15 10:11:00,NaN,NaN,NaN

### 8.
What percentage of users proceeded to checkout, but did not purchase a t-shirt?

In [36]:
copy_all_data = all_data[all_data.checkout_time.notna()]

In [38]:
(copy_all_data.purchase_time.isna().sum() / copy_all_data.shape[0]) * 100

16.88963210702341

### 9.
Which step of the funnel is weakest (i.e., has the highest percentage of users not completing it)?

How might Cool T-Shirts Inc. change their website to fix this problem?

Average Time to Purchase

### 10. 
Using the giant merged DataFrame all_data that you created, let’s calculate the average time from initial visit to final purchase. Start by adding the following column to your DataFrame:

all_data['time_to_purchase'] =  all_data.purchase_time - all_data.visit_time

In [43]:
all_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2372 entries, 0 to 2371
Data columns (total 5 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   user_id        2372 non-null   object
 1   visit_time     2372 non-null   object
 2   cart_time      720 non-null    object
 3   checkout_time  598 non-null    object
 4   purchase_time  497 non-null    object
dtypes: object(5)
memory usage: 92.8+ KB

In [45]:
all_data.visit_time = pd.to_datetime(all_data.visit_time)
all_data.cart_time = pd.to_datetime(all_data.cart_time)
all_data.checkout_time = pd.to_datetime(all_data.checkout_time)
all_data.purchase_time = pd.to_datetime(all_data.purchase_time)

In [47]:
all_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2372 entries, 0 to 2371
Data columns (total 5 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   user_id        2372 non-null   object
 1   visit_time     2372 non-null   datetime64[ns]
 2   cart_time      720 non-null    datetime64[ns]
 3   checkout_time  598 non-null    datetime64[ns]
 4   purchase_time  497 non-null    datetime64[ns]
dtypes: datetime64[ns](4), object(1)
memory usage: 92.8+ KB

In [49]:
all_data['time_to_purchase'] = all_data.purchase_time - all_data.visit_time

In [51]:
all_data

,user_id,visit_time,cart_time,checkout_time,purchase_time,time_to_purchase
0,943647ef-3682-4750-a2e1-918ba6f16188,2017-04-07 15:14:00,NaT,NaT,NaT,NaT
1,0c3a3dd0-fb64-4eac-bf84-ba069ce409f2,2017-01-26 14:24:00,2017-01-26 14:44:00,2017-01-26 14:54:00,2017-01-26 15:08:00,0 days 00:44:00
2,6e0b2d60-4027-4d9a-babd-0e7d40859fb1,2017-08-20 08:23:00,2017-08-20 08:31:00,NaT,NaT,NaT
3,6879527e-c5a6-4d14-b2da-50b85212b0ab,2017-11-04 18:15:00,NaT,NaT,NaT,NaT
4,a84327ff-5daa-4ba1-b789-d5b4caf81e96,2017-02-27 11:25:00,NaT,NaT,NaT,NaT
...,...,...,...,...,...,...
2367,33913ac2-03da-45ae-8fc3-fea39df827c6,2017-03-25 03:29:00,NaT,NaT,NaT,NaT
2368,4f850132-b99d-4623-80e6-6e61d003577e,2017-01-08 09:57:00,NaT,NaT,NaT,NaT
2369,f0830b9b-1f5c-4e74-b63d-3f847cc6ce70,2017-09-07 12:56:00,NaT,NaT,NaT,NaT
2370,b01bffa7-63ba-4cd3-9d93-eb1477c23831,2017-07-20 04:37:00,NaT,NaT,NaT,NaT
2371,0336ca81-8d68-443f-9248-ac0b8ad147d5,2017-11-15 10:11:00,NaT,NaT,NaT,NaT

### 11.
Examine the results using:

print(all_data.time_to_purchase)

In [54]:
print(all_data.time_to_purchase)

0                  NaT
1      0 days 00:44:00
2                  NaT
3                  NaT
4                  NaT
             ...
2367               NaT
2368               NaT
2369               NaT
2370               NaT
2371               NaT
Name: time_to_purchase, Length: 2372, dtype: timedelta64[ns]

### 12.
Calculate the average time to purchase using the following code:

print(all_data.time_to_purchase.mean())

In [57]:
print(all_data.time_to_purchase.mean())

0 days 00:43:53.360160965